<!DOCTYPE html>
<html>

<head>
    <title>Shoe Description</title>
    <link rel="stylesheet" type="text/css" href="/css/description.css">
</head>

<body>
    <header>
        <a href="/" id="bcklnk">
            <h1>Shoe Store</h1>
        </a>
    </header>

    <section class="product-description">
        <div class="product">
            <img src=<%=`images\\${product.product_id}.jpg` %> alt="Shoe 1" length="400px" width="500px">
            <h2>
                <%= product.product_name %>
            </h2>
            <p>&#x20b9; <%= product.product_price %>
            </p>
            <p>Description: <%= product.product_desc %>
            </p>
            <a href=<%=`/buy/${product.product_id}` %>><button>Buy</button></a>
        </div>
    </section>

    <footer>
        <p>&copy; 2023 Shoe Store</p>
    </footer>
</body>

</html>