<!DOCTYPE html>
<html>

<head>
    <title>Shoe Store</title>
    <link rel="stylesheet" type="text/css" href="./css/front.css">
</head>

<body>
    <header>
        <h1>Shoe Store</h1>
        <a href="/login"><button>Login</button></a>
    </header>

    <section class="product-list">
        <% products.forEach((product, index)=> { %>
            <div class="product">
                <a href=<%=`\\product\\${product.product_id}` %>>
                    <img src=<%=`images\\products\\${product.product_id}.jpg` %> alt=<%= product.product_id %>
                        height="400px"
                        width="500px"></a>
                <h2>
                    <%= product.product_name %>
                </h2>
                <p>
                    ₹ <%= product.product_price %>
                </p><br>
            </div>
            <% }) %>
    </section>

    <footer>
        <p>&copy; 2023 Shoe Store</p>
    </footer>
</body>

</html>